.PatrolConfig {
  &__header {
    margin-bottom: 8px;

    &__search {
      display: flex;
      &__input {
        margin-right: 6px;
      }
    }

    &__addFun {
      display: flex;
    }
  }
  
  &__table {
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }

  &__thead {
    display: flex;
    flex-direction: row nowrap;
    width: 100%;
  }
  
  &__th {
    display: inline-block;
    padding: 8px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    background: transparent;
  }

  &__tbody {
    max-height: calc(100vh - 286px);
    overflow-y: scroll;
  }

  &__tfooter {
    margin: 8px 0;
  }
  
  // TODO: hover
  &__tr {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
  }

  &__td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
