.PatrolConfig {
  &__header {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__search {
      display: flex;
      &__input {
        margin-right: 6px;
      }
    }

    &__addFun {
      display: flex;
    }
  }

  &__content {

    .ant-tabs-content {
      max-height: 760px;
      overflow-y: auto;
    }
  }

  .textcheck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 1px solid grey;
  }
  
  //这里是重新设置的
  .box {
    width: 100%;
    border: 0.4px solid gray;
  }

  &__thead {
    display: flex;
    width: 100%;
  }
  
  &__th {
    display: flex;
    flex: auto;
    width: 100%;
    height: 40px;
    background-color: #ccc;
    line-height: 40px;
    justify-content: center;
    border: 1px solid grey;
  }
  
  .tableCount {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid grey;
    text-align: center;
  }
  .countCheck{
    display: flex;
    flex-direction: row;
    width: 4%;
    justify-content: center;
    border-right: 1px solid gray;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .countDiv1 {
    display: flex;
    flex-direction: row;
    width: 14.8%;
    justify-content: center;
    border-right: 1px solid gray;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .countDiv2 {
    flex: 1;
  }
  .countDiv3 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
  }
  .countDiv4 {
    flex: 1;
  }
  .countDiv5 {
    display: flex;
    flex-direction: row;
  }
  .textClick {
    width: 25%;
    color: rgb(37, 99, 192);
    cursor: pointer;
  }
  .countDiv3-div {
    width: 25%;
    border-right: 1px solid gray;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .countDiv5-div {
    width: 50%;
    border-right: 1px solid gray;
    align-items: center;
    justify-content: center;
  }
  .countDiv5Div-metricId {
    border-bottom: 1px solid gray;
  }
}
