// 继承自 global.less
@scrollWidth: .5rem;

@checkboxWidth: 70px;
@indexWidth: 70px;
@qrCodeWidth: 70px;
@hostsWidth: 260px;
@endpointsWidth: 300px;
@metricsWidth: 260px;
@operationsWidth: 130px;

@totalWidth: @checkboxWidth + @indexWidth + @qrCodeWidth + @hostsWidth + @endpointsWidth + @metricsWidth + @operationsWidth;

.PatrolConfig {
  .checkbox {
    width: @checkboxWidth !important;
  }
  
  .index {
    width: @indexWidth !important;
  }
  
  .checkpoints {
    width: calc(100% - @totalWidth) !important;

    &__with-scroll {
      width: calc(100% - @totalWidth - @scrollWidth) !important;
    }
  }
  
  .qrCode {
    width: @qrCodeWidth !important;
  }
  
  // hosts 前几列，在 HTML 结构中为兄弟节点关系，可使用百分比宽度
  // hosts 及之后几列，在 HTML 结构中均为嵌套结构，使用百分比宽度可能带来计算问题
  // 故均采用固定像素宽度，checkpoints 列宽度采用动态计算占满
  .hosts {
    width: @hostsWidth !important;
  }
  
  .endpoints {
    width: @endpointsWidth !important;
  }
  
  .metrics {
    width: @metricsWidth !important;
  }
  
  .operations {
    width: @operationsWidth !important;

    // 最后一列预留 y 方向滚动条宽度
    &__with-scroll {
      width: calc(@operationsWidth + @scrollWidth) !important;
    }
  }
}
