@scrollWidth: .5rem;

@checkboxWidth: 70px;
@indexWidth: 70px;
@qrCodeWidth: 70px;
@hostsWidth: 260px;
@endpointsWidth: 300px;
@metricsWidth: 260px;
@operationsWidth: 170px;

@totalWidth: @checkboxWidth + @indexWidth + @qrCodeWidth + @hostsWidth + @endpointsWidth + @metricsWidth + @operationsWidth;

.PatrolConfig {
  .checkbox {
    width: @checkboxWidth !important;
  }
  
  .index {
    width: @indexWidth !important;
  }
  
  .checkpoints {
    width: calc(100% - @totalWidth) !important;

    &__with-scroll {
      width: calc(100% - @totalWidth - @scrollWidth) !important;
    }
  }
  
  .qrCode {
    width: @qrCodeWidth !important;
  }
  
  .hosts {
    width: @hostsWidth !important;
  }
  
  .endpoints {
    width: @endpointsWidth !important;
  }
  
  .metrics {
    width: @metricsWidth !important;
  }
  
  .operations {
    width: @operationsWidth !important;

    &__with-scroll {
      width: calc(@operationsWidth + @scrollWidth) !important;
    }
  }
}
