// ant-design-vue/lib/table/style/index.less

.PatrolConfig {
  .border-top {
    border-top:  @border-width-base @border-style-base @border-color-split;
  }
  
  .border-right {
    border-right:  @border-width-base @border-style-base @border-color-split;
  }
  
  .border-bottom {
    border-bottom:  @border-width-base @border-style-base @border-color-split;
  }
  
  .border-left {
    border-left:  @border-width-base @border-style-base @border-color-split;
  }
}

